aws/us-east-1/30_stepfunction/listing_ingestion_state_machine.asl.json
{
  "Comment": "Ingest Reddit listings for multiple subreddits, then trigger Bronze layer Glue job",
  "StartAt": "CheckInputDate",
  "States": {
    "CheckInputDate": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.process_date",
          "IsPresent": true,
          "Next": "GenerateInvocations"
        }
      ],
      "Default": "ComputeProcessDate"
    },
    "ComputeProcessDate": {
      "Type": "Pass",
      "Comment": "Extract the execution date from StartTime to use as PROCESS_DATE for Glue",
      "Parameters": {
        "execution_start_time.$": "$$.Execution.StartTime",
        "date_parts.$": "States.StringSplit(States.ArrayGetItem(States.StringSplit($$.Execution.StartTime, 'T'), 0), '-')"
      },
      "Next": "FormatProcessDate"
    },
    "FormatProcessDate": {
      "Type": "Pass",
      "Comment": "Format date as DD-MM-YYYY to match S3 partition structure",
      "Parameters": {
        "process_date.$": "States.Format('{}-{}-{}', States.ArrayGetItem($.date_parts, 2), States.ArrayGetItem($.date_parts, 1), States.ArrayGetItem($.date_parts, 0))"
      },
      "Next": "GenerateInvocations"
    },
    "GenerateInvocations": {
      "Type": "Pass",
      "Parameters": {
        "process_date.$": "$.process_date",
        "invocations": ${invocations_json}
      },
      "Next": "ProcessSubreddits"
    },
    "ProcessSubreddits": {
      "Type": "Map",
      "ItemsPath": "$.invocations",
      "ItemSelector": {
        "subreddit.$": "$$.Map.Item.Value.subreddit",
        "sort_type.$": "$$.Map.Item.Value.sort_type"
      },
      "MaxConcurrency": 1,
      "ResultPath": "$.lambdaResults",
      "ItemProcessor": {
        "ProcessorConfig": {
          "Mode": "INLINE"
        },
        "StartAt": "InvokeLambda",
        "States": {
          "InvokeLambda": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Parameters": {
              "FunctionName": "${lambda_function_arn}",
              "Payload": {
                "subreddit.$": "$.subreddit",
                "sort_type.$": "$.sort_type",
                "time_filter": "all",
                "max_items": 1000,
                "include_comments": true
              }
            },
            "Retry": [
              {
                "ErrorEquals": [
                  "Lambda.ServiceException",
                  "Lambda.TooManyRequestsException",
                  "States.Timeout"
                ],
                "IntervalSeconds": 5,
                "MaxAttempts": 3,
                "BackoffRate": 2
              }
            ],
            "ResultPath": "$.lambdaResult",
            "End": true
          }
        }
      },
      "Next": "StartBronzeIngestion"
    },
    "StartBronzeIngestion": {
      "Type": "Task",
      "Comment": "Start Glue job to process freshly ingested data into Bronze Iceberg tables",
      "Resource": "arn:aws:states:::glue:startJobRun.sync",
      "Parameters": {
        "JobName": "${glue_job_name}",
        "Arguments": {
          "--PROCESS_DATE.$": "$.process_date"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Glue.ConcurrentRunsExceededException"
          ],
          "IntervalSeconds": 60,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Next": "StartSilverCore"
    },
    "StartSilverCore": {
      "Type": "Task",
      "Comment": "Start Glue job to clean Bronze data and create Silver-core tables with usability flags",
      "Resource": "arn:aws:states:::glue:startJobRun.sync",
      "Parameters": {
        "JobName": "${silver_core_job_name}",
        "Arguments": {
          "--PROCESS_DATE.$": "$.process_date"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Glue.ConcurrentRunsExceededException"
          ],
          "IntervalSeconds": 60,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Next": "StartSilverSentimentAnalysis"
    },
    "StartSilverSentimentAnalysis": {
      "Type": "Task",
      "Comment": "Start Glue job to perform targeted sentiment analysis (Silver layer)",
      "Resource": "arn:aws:states:::glue:startJobRun.sync",
      "Parameters": {
        "JobName": "${silver_sentiment_job_name}",
        "Arguments": {
          "--PROCESS_DATE.$": "$.process_date"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Glue.ConcurrentRunsExceededException"
          ],
          "IntervalSeconds": 60,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "End": true
    }
  }
}